* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Barra de navegacion*/
nav {
  background-color: #b3bfd7;
  color: white;
  font-size: 25px;
  display: flex;
}

/*
  nav div selecciona todos los divs dentro de nav
  nav > div selecciona solo los divs hijos directos de nav
*/
nav div {
  display: flex;
}